<form [formGroup]="atendimentoCadastro" (ngSubmit)="onSubmit()">
    <div>
        <label for="id">Id:</label>
        <input id="id" name="id" type="number" formControlName="id">
    </div>
    <div>
        <label for="coordenador">Coordenador:</label>
        <input id="coordenador" name="coordenador" type="text" formControlName="coordenador">
    </div>
    <div>
        <label for="assunto">Assunto:</label>
        <input id="assunto" name="assunto" type="texto" formControlName="assunto">
    </div>
    <div>
        <label for="descricao">Descricao:</label>
        <input id="descricao" name="descricao" type="texto" formControlName="descricao">
    </div>
    <div>
        <label for="data">Data:</label>
        <input id="data" name="data" type="texto" formControlName="data">
    </div>
    <div>
        <button type="submit" [disabled]="atendimentoCadastro.invalid">Gravar</button>
    </div>
</form>